@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/**,
body {
  border: 1px dotted green;
}*/

html {
  font-size: 16px;
}

body {
  background-color: #4B367C;
  font-family: 'Source Sans Pro', sans-serif;
  color: #efefef;
  font-size: 1rem;
}

a {
  color: HSL(78, 39%, 75%);
}

.title-table {
  max-width: 30rem;
  margin: 3rem auto;
}

.title-table h1 {
  margin: 1rem;
  font-size: 2rem;
}

table {
  margin: 1rem auto;
  border: .2rem solid hsl(258, 39%, 75%);
}

th,
td {
  border: .1rem solid hsl(258, 39%, 75%);
}

th {
  font-weight: 600;
}

td {
  vertical-align: middle;
}

.streamer-logo img {
  width: 3rem;
  height: 3rem;
}

footer {
  border-top: .1rem solid hsl(258, 39%, 75%);
  text-align: center;
}

footer h6 {
  margin: 1rem 0 0 0;
}
